@import "tailwindcss";
@plugin "daisyui";

.section {
    max-width: 1440px;
    margin: 0 auto;
}
.active {
    border: 2px solid #008cff;
}

.glassmorphic-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 3px solid rgba(255, 255, 255, 0.1);
}


